
<link rel="stylesheet" href="/css/_header.css">
<div id="header">
 
        <% if(locals.user){ %>

            <a href="/users/sign-out">Sign Out</a>
            <p>Welcome, <%= locals.user.name %> to the dashboard</p>
              
        <% }else{ %>
           <a href="/users/sign-in">Sign In</a>
           <a href="/users/sing-up">Sign Up</a>
        <%}%>
</div>
