<link rel="stylesheet" type="text/css" href="/css/sign_up.css"/>
<div class="page-wrapper">
    <p class="page-heading"><b>SIGN UP or REGISTER</b></p>
    <form class="sign-up-form" action="/users/create-user" method="post">
        <input type="email" placeholder="Enter your email" name="email" required>
        <input type="password" placeholder="Enter your password" name="password" required>
        <input type="text" placeholder="Choose a reference name" name="name" required>
        <button type="submit" >Create User</button>
    </form>
</div>
