
        <script src="https://kit.fontawesome.com/ee4faef016.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        

        <form  method="post" action="/users/login">
            <input type="email" placeholder="...Email..." name="email">
            <input type="password" placeholder="...Password..." name="password">
            <input type="submit" >Login</input>
        </form>
        
            <form action="/users/create-user" method="post">
                <input type="email" placeholder="...Email..." name="email">
                <input type="password" placeholder="...Password..." name="password">
                <input type="text" placeholder="...Name..." name="name">
                <input type="submit" >Login</input>
            </form>
       
       
        <!-- <script type="text/javascript" src="/js/home.js"></script> -->